<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>gmServlet</servlet-name>
        <servlet-class>com.peony.core.control.gm.GmServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <!-- ... -->
    <servlet-mapping>
        <servlet-name>gmServlet</servlet-name>
        <url-pattern>/gmServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>gmFilter</filter-name>
        <filter-class>com.peony.core.control.gm.GmFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>gmFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
