<?xml version="1.0" encoding="UTF-8"?>
<configuration
        debug="false" scan="true" scanPeriod="30 second">
<!--    <property name="PROJECT" value="adapter" />-->
<!--    <property name="ROOT" value="logs/${PROJECT}/" />-->
<!--    <property name="FILESIZE" value="50MB" />-->
<!--    <property name="MAXHISTORY" value="100" />-->
    <!-- 控制台打印 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n
            </pattern>
        </encoder>
    </appender>
<!--    &lt;!&ndash; ERROR 输入到文件，按日期和文件大小 &ndash;&gt;-->
<!--    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder charset="utf-8">-->
<!--            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>ERROR</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${ROOT}%d/error.%i.log</fileNamePattern>-->
<!--            <maxHistory>${MAXHISTORY}</maxHistory>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy-->
<!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>${FILESIZE}</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash; WARN 输入到文件，按日期和文件大小 &ndash;&gt;-->
<!--    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder charset="utf-8">-->
<!--            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>WARN</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${ROOT}%d/warn.%i.log</fileNamePattern>-->
<!--            <maxHistory>${MAXHISTORY}</maxHistory>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>${FILESIZE}</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash; INFO 输入到文件，按日期和文件大小 &ndash;&gt;-->
<!--    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder charset="utf-8">-->
<!--            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36}.%M\(%line\) - %m%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>INFO</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${ROOT}%d/info.%i.log</fileNamePattern>-->
<!--            <maxHistory>${MAXHISTORY}</maxHistory>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>${FILESIZE}</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->
<!--    &lt;!&ndash; DEBUG 输入到文件，按日期和文件大小 &ndash;&gt;-->
<!--    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder charset="utf-8">-->
<!--            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>DEBUG</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${ROOT}%d/debug.%i.log</fileNamePattern>-->
<!--            <maxHistory>${MAXHISTORY}</maxHistory>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy-->
<!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>${FILESIZE}</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->
<!--    &lt;!&ndash; TRACE 输入到文件，按日期和文件大小 &ndash;&gt;-->
<!--    <appender name="TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <encoder charset="utf-8">-->
<!--            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36} - %m%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>TRACE</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <rollingPolicy-->
<!--                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${ROOT}%d/trace.%i.log</fileNamePattern>-->
<!--            <maxHistory>${MAXHISTORY}</maxHistory>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy-->
<!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>${FILESIZE}</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash; SQL相关日志输出&ndash;&gt;-->
<!--    <logger name="org.apache.ibatis" level="INFO" additivity="false" />-->
<!--    <logger name="org.mybatis.spring" level="INFO" additivity="false" />-->
<!--    <logger name="com.github.miemiedev.mybatis.paginator" level="INFO" additivity="false" />-->

<!--    &lt;!&ndash; Logger 根目录 指定打印的日志级别&ndash;&gt;-->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="DEBUG" />-->
<!--        <appender-ref ref="ERROR" />-->
<!--        <appender-ref ref="WARN" />-->
<!--        <appender-ref ref="INFO" />-->
<!--        <appender-ref ref="TRACE" />-->
    </root>
</configuration>